<% @page_title = "Editing &#8220;#{@page}&#8221;" %>

<div class="ui-tabs ajax">
	<ul>
		<li><a href="#edit">Edit</a></li>
		<li><a href="<%= admin_page_attachments_path(@page) %>" title="Attachments">Attachments</a></li>
		<li><a href="#">Contents</a></li>
		<li><a href="#">History</a></li>
		<li><a href="#">Permissions</a></li>
	</ul>

	<div id="edit">

    <% update_form do |f| %>
      <%= partial 'form', :f => f %>
    <% end %>

	</div>
</div>


