<% 
if @parent
  @page_title = "Reordering child items for &#8220;#{@parent.title}&#8221; "
else
  @page_title = "Reordering root items"
end
 %>
<fieldset>
<ul id="items" class="sortable">
<% for page in @pages %>
  <li id="item_<%= page.id %>">
    <%= image_tag('/images/admin/drag.gif', :class => 'drag') %> &nbsp; 
    <%= page.title %>
  </li>
<% end %>
</ul>

<p><%= link_to '&larr; Finished reordering', :action => 'index' %></p>

</fieldset>