<p>
  <%= link_to_with_icon 'add', 'Upload a new attachment', new_admin_page_attachment_path(@page) %> &nbsp; 
</p>

<div class="clearfix">

<div id="content_browser">
  <% form_tag(search_admin_page_attachments_path, :method => :get) do %>
    <label for="type">Type</label> &nbsp;<%= select_tag :type, options_for_select([['Images','image'],['Files','file_upload']]) %>
    <br />
    <label for="q">Search</label> <%= text_field_tag :q, params[:q] %>
    <input type="submit" value="Apply" />
  <% end %>
  <div class="results"></div>  
</div>

<div id="page_attachments">
  <%= render 'attachments_list' %>  
</div>

</div>
