<% if @content_items.any? %>
  
  <%= render :collection => @content_items, :partial => 'content_item_result', :as => :content_item %>

  <br clear="left" />  
  <%= will_paginate @content_items %>
<% else %>
  <p>No results</p>
<% end %>