<% content_for :sidebar do %>
<h2><%= @root_page %></h2>
<%= render_list_nav @root_page %>
<%= render :partial => 'public/page_types/shared/side_feature' %>
<% end %>
  <h1><%= h @root_page.title %></h1>
  <p>Thank you for your enquiry</p>