/* 
	Sitename
	designed and created by name
*/
/*
	general css document
*/
body {
	font-size: 10px;
	background-color:#FFFFFF;
	color: #111111;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
a {
	color: #32609d;
	font-weight: bold;
	text-decoration: none;
}
h1,h2,h3,h4,h1 a,h2 a,h3 a,h4 a{
	font-family:Geneva, Helvetica, sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 2.5em;
	color:#000000;
	margin-bottom: 20px;
}
h2 {
	font-size: 2em;
	color:#000000;
	margin-bottom: 10px;
	clear: both;
}
img {
	float: left;
	margin-right: 10px;
	padding: 3px;
	border: solid 2px #e4e4e4;
}
div#content_main ol, div#content_main ul {
	font-size: 1.2em;
	line-height: 1.4em;
	margin-left: 20px;
	margin-bottom: 20px;
}
/* ==== main layout ==== */
div#wrap {
	text-align:left;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #222222;
	margin-top: 15px;
	padding-bottom: 15px;
}
div#branding {
	height: 250px;
	background-image: url(/skin/header.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: relative;
	border-bottom: 5px solid #32609d;
}
ul#main_navigation {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color:#000000;
	margin-bottom: 20px;
	font-weight: normal;
}
div#content_main {
	float: left;
	width: 650px;
	margin-left: 20px;
	clear: left;
	padding-bottom: 30px;
}
div#content_sub {
	float: right;
	width: 260px;
	margin-right: 20px;
	padding-bottom: 30px;
}
div#footer {
	clear: both;
	background-color: #a6c1e2;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

/* ==== branding elements ==== */
a#logo {
	position: absolute;
	top: 100px;
	left: 20px;
}
a#logo img {
	margin: 0;
	padding: 0;
	border: none;
}
p#strapline {
	position: absolute;
	top: 160px;
	left: 20px;
	color: #333333;
	font-size:2.5em;
	font-family: Helvetica, sans-serif;
}
p.rss a {
	display: block;
	text-indent: -99999px;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 30px;
	top:90px;
	background-image: url(/skin/rss.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
/* ==== main navigation elements ==== */
ul#main_navigation li {
	font-size: 1.3em;
	display: inline;
	margin-top:5px;
}
ul#main_navigation li a {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
	padding: 8px;
}
ul#main_navigation li.first a {
	margin-left: 20px;
}
ul#main_navigation li.last a {
	clear: right;
}
ul#main_navigation li.current a, ul#main_navigation li a:hover {
	background-color: #32609d;
}
/* ==== main content area elements ==== */
div#content_main p {
	font-size: 1.2em;
	margin-bottom: 15px;
	line-height: 1.4em;
}
div#content_main div#intro p {
	color: #203E65;
	font-size: 1.4em;
	line-height: 1.3em;
}
div#content_main div#feature h2 {
	clear: none;
}
div#content_main div#feature {
	margin-top: 40px;
	margin-bottom: 10px;
}
div#content_sub div#feature {
	margin-top: 30px;
	margin-bottom: 10px;
}
/* ==== faq elements ==== */
ol#answers {
	list-style: none;
}
ol#answers li {
	margin-bottom: 10px;
	padding:4px;
	padding-left: 20px;
	margin-left: -20px;
	display: block;
	background-repeat: no-repeat;
	background-position: left 2px;
	background-color: #e4e4e4;
}
.one {
	background-image: url(/skin/font/1.jpg);
}
.two {
	background-image: url(/skin/font/2.jpg);
}
.three {
	background-image: url(/skin/font/3.jpg);
}
.four {
	background-image: url(/skin/font/4.jpg);
}
.five {
	background-image: url(/skin/font/5.jpg);
}
.six {
	background-image: url(/skin/font/6.jpg);
}
.seven {
	background-image: url(/skin/font/7.jpg);
}
.eight {
	background-image: url(/skin/font/8.jpg);
}
.nine {
	background-image: url(/skin/font/9.jpg);
}
.ten {
	background-image: url(/skin/font/10.jpg);
}
.eleven {
	background-image: url(/skin/font/11.jpg);
}
.twelve {
	background-image: url(/skin/font/12.jpg);
}
.thirteen {
	background-image: url(/skin/font/13.jpg);
}
.fourteen {
	background-image: url(/skin/font/14.jpg);
}
.fifteen {
	background-image: url(/skin/font/15.jpg);
}
.sixteen {
	background-image: url(/skin/font/16.jpg);
}
.seventeen {
	background-image: url(/skin/font/17.jpg);
}
.eighteen {
	background-image: url(/skin/font/18.jpg);
}
.nineteen {
	background-image: url(/skin/font/19.jpg);
}
.twenty {
	background-image: url(/skin/font/20.jpg);
}
/* ==== sidebar elements ==== */
div#content_sub h2 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 1em;
}
div#content_sub h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin-bottom: 5px;
	line-height: 1em;
}
div#content_sub p {
	font-size: 1.1em;
	line-height: 1.4em;
	margin-bottom: 5px;
}
div#latest_news {
	margin-bottom: 20px;
}
/* ==== subnav ==== */
ul.nav {
}
ul.nav li {
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1.3em;
}
ul.nav li.current a, ul.nav li ul li.current a {
	color:#555555;
}
ul.nav li ul {
	padding-top: 5px;
}
ul.nav li ul li {
	font-size: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
}
ul.nav li ul li a {
	font-weight: normal;
	padding-left: 12px;
}
ul.nav li.current ul li a {
	font-weight: normal;
	color: #32609d;
}
ul.nav li.current ul li.current a {
	background-image: url(/skin/readmore.jpg);
	background-repeat: no-repeat;
	background-position: 1px center;
}
/* ==== subscription form ==== */
form#subscribe label {
	display: none;
}
form#subscribe input.text {
	width: 280px;
	padding: 3px;
	margin-bottom: 10px;
}
form#subscribe input.register {
	margin-left: 65px;
}
/* ==== sidebar search ==== */
form#sidesearch {
	margin-bottom: 20px;
}
form#sidesearch label {
	display: none;
}
form#sidesearch input.text {
	width: 180px;
	padding: 3px;
	border: solid 1px #000000;
	font-size: 1.2em;
}
form#sidesearch input.submit {
	padding: 3px;
	border: solid 1px #FFFFFF;
	font-size: 1.2em;
	color:#FFFFFF;
	background-color:#000000;
	cursor: pointer;
}
/* ==== footer area elements ==== */
div#footer div.column {
	width:310px;
	margin-left: 20px;
	float: left;
}
div#footer div.columnr {
	width:260px;
	margin-right: 20px;
	float: right;	
}
div#footer h2 {
	font-size: 1.8em;
	line-height: 1em;
	margin-bottom: 15px;
}
div#footer p {
	font-size: 1.2em;
	margin-bottom: 15px;
	line-height: 1.4em;
}
/* ==== footer testimonial ==== */
div#testimonial {
	background-image: url(/skin/testimonial_bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
div#footer div#testimonial p {
	font-size: 1.7em;
	line-height: 1.2em;
	font-style: italic;
	padding-left: 22px;
	padding-right: 10px;
	margin-bottom: 15px;
}
div#footer div#testimonial p.name {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: capitalize;
	padding-left: 105px;
}
/* ==== footer link list ==== */
ul.footnav {
	margin-left: 20px;
}
ul.footnav li {
	display: inline;
	padding-right: 10px;
	margin-right: 10px;
	border-right: solid 1px #cccccc;
}
ul.footnav li.last {
	border-right: none;
}
/* ==== misc elements ==== */
.clear {
	width: 100%;
	clear: both;
}
.clear_right {
	clear: right;
}
.clear_left {
	clear: left;
}
p.built {
	text-align: right;
	margin-right: 20px;
}
p.built img {
	float: none;
	margin: 0;
	padding: 0;
	border: none;
}
p.readmore a, a.readmore {
	text-transform: uppercase;
	background-image: url(/skin/readmore.jpg);
	background-repeat: no-repeat;
	background-position: right 2px;
	padding-right: 10px;
	font-size: .9em;
}
.divider {
	margin-bottom: 25px;
	overflow: hidden;
}
p#back {
	width: 100%;
	clear: both;
}
p#pdf {
	padding: 3px;
	padding-left: 18px;
	background-image: url(/skin/adreader.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
div#content_main ul.thumbslist {
	margin-left: 0;
}
div#content_main ul.thumbslist li {
	display: inline;
}
ul.thumbslist li img {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
ul.thumbslist li a:hover img {
	border-color: #A6C1E2;
}

/* ==== contact form ==== */
form#enquiry_form {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
form#enquiry_form label {
	font-size: 1.2em;
}
form#enquiry_form input.text_field, form#enquiry_form textarea.text_area, form#enquiry_form select {
	font-size: 1.2em;
	padding: 3px;
	border: solid 1px #cccccc;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #32609D;
	width: 100%;
}
form#enquiry_form input.text_field:focus, form#enquiry_form textarea.text_area:focus, form#enquiry_form select:focus {
	border: solid 1px #32609D;
	color: #000000;
	background-color: #F3F3F3;
}
form#enquiry_form textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
form#enquiry_form input#submitbutton {
	border: solid 1px #000000;
	background-color: #000000;
	color: #FFFFFF;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 3px;
	padding-left: 20px;
	padding-right: 20px;
}

div#content_main ul#sitemap li ul, div#content_main ul#sitemap li ul li ul {
	margin-bottom: 5px;
}
div#content_main ul#sitemap li ul li {
	font-size: .9em;
}
div#content_main ul#sitemap li ul li ul li {
	font-size: .8em;
}
div#content_main ul#sitemap li ul li ul li ul li{
	font-size: .7em;
}

div#map {
	border: solid 5px #A6C1E2;
	margin-bottom: 10px;
}
form#direct fieldset {
	border: 1px solid #A6C1E2;
	background-color: #D1E0F6;
	padding: 10px;
}
form#direct legend {
	border: 1px solid #A6C1E2;
	margin-left: 10px;
	background-color:#FFFFFF;
	padding: 3px;
	color: #203E65;
	font-size: 1.5em;
}
form#direct label {
	font-size: 1.2em;
}
form#direct input {
	border: 1px solid #A6C1E2;
	margin-left: 10px;
	background-color:#FFFFFF;
	padding: 3px;
	font-size: 1.3em;
}
form#direct input:focus {
	color: #203E65;
}
form#direct input.submit {
	background-color:#203E65;
	color: #FFFFFF;
	padding: 2px;
	font-size: 1.2em;
}

div.link {
	overflow: hidden;
	padding-top: 10px;
	margin-bottom: 10px;
	border-top: solid 1px #e4e4e4;
}
div.link img {
	border: none;
}

/* Flashes and Form errors */
.flash {
  font-size:140%;
  font-weight:bold;
  margin-bottom:10px;
  padding:10px;
}
#error {
  background-color:#fcc;
}
#notice {
  background-color:#cfc;
}

.formError {
  color:#900;
  font-weight:bold;
}