
* {
padding: 0;
margin: 0;
}

body {
color: #000;
font-family: "lucida grande", "lucida sans", tahoma, helvetica, verdana, Arial, sans-serif;
font-size: small;
text-align: left;
width: 380px;
margin: 10px;
}


p {
line-height: 1.3em;
margin: 0.8em 0 0.8em 0;
}
p a {
text-decoration: none;
font-weight: bold;
}

h1 {
margin: 0.3em 0 0 0;
padding: 0 0 0.3em 0;
line-height: 1.3em;
font-size: 140%;
color: #0D0374;
border-bottom: 1px solid #B00011;
}
h2 {
margin: 0.5em 0 0.5em 0;
font-size: 110%;
padding-bottom: 0.4em;
color: #0D0374;
border-bottom: 1px solid #F0A9B0;
margin-top: 0.7em;
margin-bottom: 0.7em;
}
h3 {
margin: 1em 0 0.8em 0;
font-size: 100%;
width: 100%;
color: #0D0374;
}
h3 a {
color: #003300;
text-decoration: none;
}
h3 a:hover {
}

a {
text-decoration: none;
}
a:link {
text-decoration: none;
font-weight: bold;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:active {
text-decoration: underline;
}

p {
line-height: 1.4em;
}
p a {
font-weight: normal;
}
a {
color: #B00011;
}

 blockquote {
background: url(../images/blockquote1.gif) left 4px no-repeat;
padding-left: 32px;
margin-bottom: 26px;
}

 blockquote p.quote {
font-style: italic;
padding-top: 0;
margin: 0 0 0.5em 0;
}

 blockquote p.author {
margin: 0;
padding: 0;
font-weight: bold;
font-size: 90%;
line-height: 1em;
}

li, dd {
list-style: none;
}

dt {
color: #0D0374;
font-weight: bold;
padding-bottom: 0.3em;
margin-top: 1.5em;
}

 ul,  dl {
margin: 1.4em 0 1.4em 0;
}

 ul li,  dl dd {
list-style: none;
padding-left: 13px;
color: #303030;
background: url(../images/bullet_square.gif) left 5px no-repeat;
margin: 0.6em 0 0.6em 10px;
line-height: 1.4em;
}

 h3 a {
padding-left: 15px;
background: url(../images/bullet_round_arrow.gif) left center no-repeat;
}


/* ---------maincontent img--------------*/

 img {
border: 1px solid #0D0374;
padding: 3px;
float: left;
margin-right: 15px;
margin-bottom: 5px;
}

.centered {
margin-left: auto;
margin-right: auto;
margin-bottom: 5px;
display: block;
text-align: center;
}

.left {
float: left
}
.right {
float: right
}
