development:
  adapter: mysql
  database: name_dev
  username: root
  password: 
  host: localhost

test:
  adapter: mysql
  database: name_test
  username: root
  password: 
  host: localhost

production:
  adapter: mysql
  database: name_live
  username: root
  password: 
  host: localhost