<%= render :partial => 'menu' %>

<% for image in @images -%>
  <table class="thumb"><tr><td>
  <%= link_to image_tag(image.image.url('thumb')), admin_image_path(image, :popup => params[:popup]) %>
  </td></tr></table>
<% end %>

<br clear="left" />

<%= will_paginate @images %>
