<%= render :partial => 'menu' %>

<% for image in @images -%>
  <div class="thumb">
  <%= link_to image_tag(image.image.url('thumb')), admin_image_path(image, :popup => params[:popup]) %>
  </div>
<% end %>

<br clear="left" />

<%= will_paginate @images %>
